
.stats, .all, .best {
  font-family: "Courier";
}

.best {
  font-size: 48px;
}

.stats {
  font-size: 24px;
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
}

#defaultCanvas0 {
  margin:auto;
}