
.stats, .all, .best {
  font-family: "Courier";
}

.best {
  font-size: 48px;
}

.stats {
  position:absolute;
  font-size: 18px;
}
a {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
  width:100vw; 
  height: 100vh;
  background:linear-gradient(185deg, #fc5c7d, #6a82fb);;
}

.main {
  position:relative; 
  top:50%; 
  left:50%; 
  transform:translate(-50%,-50%); 
  display:flex; 
  justify-content: space-evenly; 
  align-items: center; 
  height:90%; 
  width:90%; 
  background:white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
}

#defaultCanvas0 {
  margin:auto;
}

table {
  border-collapse: collapse;
  width:300px;
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}

td, th{
  border-top: 1px solid #ECF0F1;
  padding: 10px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

td{
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
  border-bottom: 1px solid #ECF0F1;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}